{% extends 'base.html.twig' %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('css/tab.css') }}" />
{% endblock %}

{% block title %}Administration{% endblock %}

{% block body %}
<section>
  <h2 id="center"><i>Gérez vos articles !</i></h2>
  {% if articles %}
  <table class="highlight centered responsive-table s12 m4 l10">
    <thead>
      <tr>
        <th>{{ knp_pagination_sortable(articles, 'ID', 'posts.id') }}</th>
        <th>{{ knp_pagination_sortable(articles, 'Titre', 'posts.titre') }}</th>
        <th>{{ knp_pagination_sortable(articles, 'Date de publication', 'posts.published') }}</th>
        <th>{{ knp_pagination_sortable(articles, 'Lien', 'posts.url_alias') }}</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for article in articles %}
      <tr>
          <td>{{ article.id }}</td>
          <td>{{ article.titre }}</td>
          <td>{{ article.published|date('Y-m-d') }}</td>
          <td><a href="/post/{{ article.id }}">{{ article.getUrlAlias()}}</a></td>
          <td><a class="waves-effect waves-light btn-small orange accent-3"><i class="material-icons left ">edit</i>Modifier (TODO)</a> <a class="waves-effect waves-light btn-small red darken-1" href="{{ path('suppression', {id: article.id}) }}">Supprimer<i class="material-icons right">delete_forever</i></a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {{ knp_pagination_render(articles) }}
  {% else %}
  <p>Vous avez aucun article en ligne !</p>
  {% endif %}
</section>
{% endblock %}
